<div style="min-width:81vw ;">
  <div class="card p-6">
    <div class="card-header mt-1" style="background: linear-gradient(to right, #012e5e, #0a06d3);">
      <h3 class="text-center text-white">Mis actividades asignadas</h3>
    </div>


    <div class="container mt-4">
      <div class="input-group" style="width: 20%;">
        <input type="text" class="form-control" placeholder="Buscar Actividad..." aria-label="Buscar"
          aria-describedby="basic-addon2">
      </div>

    </div>


    <div class="card-body">


      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>
              Cliente
            </th>
            <th>
              Proyecto
            </th>
            <th>
              Actividad
            </th>
            <th>
              Fecha
            </th>
            <th>
              Dirección
            </th>
            <th>
              Estado
            </th>
            <th>
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acti of actividad">


            <td>{{ acti.CLI_NOMBRE}}</td>
            <td>{{ acti.PRO_NOMBRE }}</td>
            <td>{{ acti.ACT_NOMBRE}}</td>
            <td>{{ acti.AGE_FECHA|date:'shortDate'}}</td>
            <td>{{ acti.ACT_DIRECCION}}</td>
            <td [ngClass]="{
              'bg-danger': acti.ACT_ESTADO === 'Pendiente',
              'bg-warning': acti.ACT_ESTADO === 'Iniciada'
            }"><b>{{ acti.ACT_ESTADO }}</b></td>
            <td>
              <a (click)="editarActividad(acti.ACT_ID,dialog) " style="cursor: pointer;">
                <i class="bi bi-gear-wide text-primary" style="padding-left: 40%; font-size: medium"></i>
              </a>
            </td>
          </tr>



        </tbody>

      </table>

    </div>
      
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header style="text-align: center;"><b>DETALLE ACTIVIDAD</b></nb-card-header>
    <nb-card-body>

      <p><b>Requerimiento: </b> {{data[0].ACT_NOMBRE}}</p>
      <p><b>Cliente: </b>{{data[0].CLI_NOMBRE}}</p>
      <p><b>Proyecto: </b>{{data[0].PRO_NOMBRE}}</p>
      <p><b>Dirección:</b> {{data[0].ACT_DIRECCION}}</p>

      <div class="d-flex justify-content-between align-items-center mb-6">
        <p class="mb-0"><b>Monto de Viático:</b> {{data[0].DEP_MONTO}}</p>        
      </div><br>
      <div><p><b>Descripción:</b> {{data[0].ACT_DESCRIPCION}}</p></div>
      <br>

      <div class="d-flex align-items-center">
        <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>
        <button nbButton class="ml-3" (click)="fileInput.click()">Adjuntar Orden De Trabajo</button>
      </div>
      <br>



    </nb-card-body>

    <nb-card-footer class="d-flex justify-content-between">
      <div>
        <button class="btn btn-dark" (click)="ref.close()">Cerrar</button>
      </div>
      <div>
        <button class="btn btn-primary" (click)="iniciar(data[0].ACT_ID)" (click)="ref.close()">Iniciar</button>
      </div>
      <div>
        <button class="btn btn-success" (click)="finalizar(data[0].ACT_ID)"
          (click)="ref.close()">Finalizar</button>
      </div>
    </nb-card-footer>

  </nb-card>
</ng-template>