<div class="row">
  <div class="col-lg-12">
    <nb-card>

      <nb-card-header class="text-center">
        <H6>Registrar Actividad</H6>
      </nb-card-header>

      <nb-card-body>
        <form [formGroup]="formActividad">
          <div class="row">
            <div class="col-lg-6">

              <input type="text" nbInput fullWidth class="nb-input" fieldSize="medium" placeholder="Nombre actividad"
                formControlName="ACT_NOMBRE">



              <nb-select formControlName="ACT_PRO_ID" class="nb-input" placeholder="Seleccionar proyecto" fullWidth>
                <nb-option *ngFor="let item of proyectos" [value]="item.PRO_ID">{{item.PRO_NOMBRE}}</nb-option>
              </nb-select>


              <nb-select formControlName="ACT_COM_ID" class="nb-input" placeholder="Seleccionar Comuna" fullWidth>
                <nb-option *ngFor="let item of comunas" [value]="item.COM_ID">{{item.COM_NOMBRE}}</nb-option>
              </nb-select>


              <input type="date" nbInput fullWidth class="nb-input" fieldSize="medium" placeholder="Fecha de agenda"
                formControlName="AGE_FECHA">




            </div>
            <div class="col-lg-6">
              <input type="text" nbInput fullWidth class="nb-input" fieldSize="medium" placeholder="Descripción"
                formControlName="ACT_DESCRIPCION" style="height: 99px;">


              <input type="text" nbInput fullWidth class="nb-input" fieldSize="medium"
                placeholder="Dirección (calle, número, piso)" formControlName="ACT_DIRECCION">

              <nb-select formControlName="AH_HOR_ID" multiple class="nb-input" placeholder="Seleccionar hora(s)"
                fullWidth>
                <nb-option *ngFor="let item of horas" [value]="item.HOR_ID">{{item.HOR_VALOR}}</nb-option>
              </nb-select>


            </div>
          </div>

          <h6 class="nb-input-label" style="text-align: center;">Datos de solicitante</h6>

          <div class="row">
            <div class="col-lg-4">
              <input type="text" nbInput fullWidth class="nb-input" fieldSize="medium"
                placeholder="Nombre y Apellido del solicitante" formControlName="ACT_NOMBRE_SOLICITANTE">

            </div>

            <div class="col-lg-4">
              <input type="email" nbInput fullWidth class="nb-input" fieldSize="medium"
                placeholder="Correo del solicitante" formControlName="ACT_CORREO_SOLICITANTE">

            </div>

            <div class="col-lg-4">
              <input type="tel" nbInput fullWidth class="nb-input" fieldSize="medium"
                placeholder="Telefono del solicitante" formControlName="ACT_TELEFONO_SOLICITANTE">

            </div>
          </div>

          <h6 class="nb-input-label" style="text-align: center;">Datos de depósito</h6>

          <div class="row">
            <div class="col-lg-4">
              <input type="number" nbInput fullWidth class="nb-input" fieldSize="medium" placeholder="Depósito (en CLP)"
                formControlName="DEP_MONTO">
            </div>

            <div class="col-lg-4">
              <nb-select formControlName="DEM_MOT_ID" multiple class="nb-input" placeholder="Seleccionar motivo(s)"
                fullWidth>
                <nb-option *ngFor="let item of motivos" [value]="item.MOT_ID">{{item.MOT_NOMBRE}}</nb-option>
              </nb-select>

            </div>

            <div class="col-lg-4">
              <input type="datetime-local" nbInput fullWidth class="nb-input" fieldSize="medium"
                placeholder="Fecha y hora de realización de depósito" formControlName="DEP_FECHA">

            </div>
          </div>

          <!-- <br><br>
                <input type="datetime-local" nbInput fullWidth 
                fieldSize="medium" 
                placeholder="Fecha y hora de incio de actividad"
                formControlName="ACT_INICIO">
                <br><br>
                <input type="datetime-local" nbInput fullWidth 
                fieldSize="medium" 
                placeholder="Fecha y hora de cierre de actividad" 
                formControlName="ACT_FIN"> -->

          <!-- <input type="text" nbInput fullWidth 
                class="nb-input"
                fieldSize="medium" 
                placeholder="Estado de agenda" 
                formControlName="AGE_ESTADO"> -->

          <div class="buttons-row mt-4" style="text-align: center;" class="nb-input-label">
            <button nbButton [status]="'primary'" hero (click)="guardar()">
              GUARDAR
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>


    <!--    {{formActividad.value | json}} -->

  </div>
</div>