<div style="min-width:81vw ;">
  <div class="card p-5">
    <div class="card-header mt">
      <h3 class="text-center">Registro De Actividades</h3>
    </div>


    <!-- <form [formGroup]="form">
      <div style="min-width: 81vw; display: flex; justify-content: flex-end; margin-bottom: 20px;">
        <input type="date" nbInput class="nb-input small-date-input" fieldSize="medium" placeholder="Fecha de agenda"
          formControlName="AGE_FECHA">
      </div>

    </form> -->

    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Región
            </th>
            <th>
              Comuna
            </th>
            <th>
              Nombre
            </th>
            <th>
              Apellido
            </th>

            <th>
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr >
            <td>{{ acti.REG_NOMBRE }}</td>
            <td>{{ acti.COM_NOMBRE }}</td>
            <td>{{ acti.USR_NOMBRES }}</td>
            <td>{{ acti.USR_AP_PATERNO }}</td>
        

          </tr> -->
        </tbody>

      </table>

    </div>
      
  </div>
</div>