<div style="min-width:81vw ;">
  <div class="card p-5">
    <div class="card-header mt">
      <h3 class="text-center">Auditoria De Actividades</h3>
    </div>


    <div class="card-body">
      <form [formGroup]="form">
        <div style="display: flex; justify-content: flex-end; margin-bottom: 50px;">
          <input type="date" nbInput class="nb-input small-date-input" fieldSize="medium" placeholder="Fecha de agenda"
            formControlName="AGE_FECHA">
        </div>
      </form>


      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>
              Nombre
            </th>
            <th>
              Apellido
            </th>
            <th>
              Actividad
            </th>
            <th>
              Cliente
            </th>
            <th>
              Proyecto
            </th>
            <th>
              Calificación
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acti of dataAuditor">


            <td>{{ acti.USR_NOMBRE }}</td>
            <td>{{ acti.USR_AP_PATERNO }}</td>
            <td>{{ acti.ACT_NOMBRE}}</td>
            <td>{{ acti.CLI_NOMBRE}}</td>
            <td>{{ acti.PRO_NOMBRE }}</td>
            <td>{{ acti.CAL_COMENTARIO }}</td>
          </tr>


        </tbody>

      </table>

    </div>
      
  </div>
</div>