<div style="min-width:81vw ;">
  <div class="card p-5">

    <div class="card-header mt-2" style="background: linear-gradient(to right, #007bff, #00bfff);">
      <h3 class="text-center text-white">Mis Actividades Asignadas</h3>
    </div>


    <div class="card-body">


      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>
              Cliente
            </th>
            <th>
              Proyecto
            </th>
            <th>
              Actividad
            </th>
            <th>
              Fecha
            </th>
            <th>
              Dirección
            </th>
            <th>
              Estado
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acti of actividad">


            <td>{{ acti.CLI_NOMBRE}}</td>
            <td>{{ acti.PRO_NOMBRE }}</td>
            <td>{{ acti.ACT_NOMBRE}}</td>
            <td>{{ acti.AGE_FECHA}}</td>
            <td>{{ acti.ACT_DIRECCION}}</td>
            <td>{{ acti.ACT_ESTADO }}</td>
          </tr>



        </tbody>

      </table>

    </div>
      
  </div>
</div>