<div style="min-width:81vw ;">
  <div class="card p-5">

    <div class="card-header mt-2" style="background: linear-gradient(to right, #007bff, #00bfff);">
      <h3 class="text-center text-white">Mis Actividades Asignadas</h3>
    </div>


    <div class="card-body">


      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>
              Cliente
            </th>
            <th>
              Proyecto
            </th>
            <th>
              Actividad
            </th>
            <th>
              Fecha
            </th>
            <th>
              Dirección
            </th>
            <th>
              Estado
            </th>
            <th>
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acti of actividad">


            <td>{{ acti.CLI_NOMBRE}}</td>
            <td>{{ acti.PRO_NOMBRE }}</td>
            <td>{{ acti.ACT_NOMBRE}}</td>
            <td>{{ acti.AGE_FECHA|date}}</td>
            <td>{{ acti.ACT_DIRECCION}}</td>
            <td>{{ acti.ACT_ESTADO }}</td>
            <td>
              <a (click)="editarActividad(acti.ACT_ID,dialog) " style="cursor: pointer;">
                <i class="bi bi-gear-wide" style="margin-right: 30px; margin-left: 5px; padding-left: 20px; "></i>
              </a>
            </td>
          </tr>



        </tbody>

      </table>

    </div>
      
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Actividad Asignada</nb-card-header>
    <nb-card-body>

      <p><b>Requerimiento: </b> {{data[0].ACT_NOMBRE}}</p>
      <p><b>Cliente: </b>{{data[0].CLI_NOMBRE}}</p>
      <p><b>Proyecto: </b>{{data[0].PRO_NOMBRE}}</p>
      <p><b>Dirección:</b> {{data[0].ACT_DIRECCION}}</p>

      <div class="d-flex justify-content-between align-items-center mb-6">
        <p class="mb-0"><b>Monto de Viático:</b> {{data[0].DEP_MONTO}}</p>
        <!-- Botón para adjuntar archivo -->
        <div class="d-flex align-items-center">
          <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>
          <button nbButton class="ml-3" (click)="fileInput.click()">Adjuntar Orden De Trabajo</button>
        </div>
      </div>
      <p><b>Descripción:</b> {{data[0].ACT_DESCRIPCION}}</p>



    </nb-card-body>

    <nb-card-footer class="d-flex justify-content-between">
      <div>
        <button nbButton (click)="ref.close()">Cerrar</button>
      </div>
      <div>
        <button nbButton class="custom-button" (click)="iniciar(data[0].ACT_ID)">Iniciar</button>
      </div>
      <div>
        <button nbButton class="custom-button" (click)="finalizar(data[0].ACT_ID)">Finalizar</button>
      </div>
    </nb-card-footer>

  </nb-card>
</ng-template>