<div style="min-width:81vw ;">
  <div class="card p-6">

    <div class="card-header mt-1" style="background: linear-gradient(to right, #012e5e, #0a06d3);">
      <h3 class="text-center text-white">Auditoria de actividades</h3>
    </div>

    <div class="container mt-4 d-flex justify-content-between align-items-center">
      <div class="input-group" style="width: 20%;">
        <input type="text" class="form-control" placeholder="Buscar Actividad..." aria-label="Buscar"
          aria-describedby="basic-addon2">
      </div>
      <form [formGroup]="form">
        <div style="display: flex; justify-content: flex-end;">
          <input type="date" nbInput class="nb-input small-date-input" fieldSize="medium" placeholder="Fecha de agenda"
            formControlName="AGE_FECHA">
        </div>
      </form>
    </div>

    <div class="card-body">
      
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>
              Nombre de Técnico
            </th>

            <th>
              Actividad
            </th>
            <th>
              Cliente
            </th>
            <th>
              Proyecto
            </th>
            <th>
              Usuario
            </th>
            <th>
              Correo
            </th>
            <th>
              Telefono
            </th>
            <th>
              Resultado
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acti of actividad">


            <td>{{ acti.USR_NOMBRES }}</td>
            <td>{{ acti.ACT_NOMBRE}}</td>
            <td>{{ acti.CLI_NOMBRE}}</td>
            <td>{{ acti.PRO_NOMBRE }}</td>
            <td>{{ acti.ACT_NOMBRE_SOLICITANTE }}</td>
            <td>{{ acti.ACT_CORREO_SOLICITANTE }}</td>
            <td>{{ acti.ACT_TELEFONO_SOLICITANTE }}</td>
            <td>
              <a (click)="editarActividad(acti.ACT_ID,dialog) " style="cursor: pointer;">
                <i class="bi bi-gear-wide text-primary" style="padding-left: 40%; font-size: medium; "></i>
              </a>
            </td>
          </tr>


        </tbody>

      </table>

    </div>
      
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header style="text-align: center;"><b>DETALLE REVISIÓN ACTIVIDAD</b></nb-card-header>
    <nb-card-body>

      <p><b>Requerimiento: </b> {{data[0].ACT_NOMBRE}}</p>
      <p><b>Cliente: </b>{{data[0].CLI_NOMBRE}}</p>
      <p><b>Proyecto: </b>{{data[0].PRO_NOMBRE}}</p>
      <p><b>Dirección:</b> {{data[0].ACT_DIRECCION}}</p>
      <p><b>Descripción:</b> {{data[0].ACT_DESCRIPCION}}</p><br>
      <textarea rows="4" type="text" class="form-control" placeholder="Agregue observaciones de la revisión..."></textarea>



    </nb-card-body>

    <nb-card-footer class="d-flex justify-content-between">
      <div>
        <button class="btn btn-dark" (click)="ref.close()">Cerrar</button>
      </div>
      <div>
        <button class="btn btn-primary" (click)="Confirmar(data[0].ACT_ID)">Confirmar</button>
      </div>
      <div>
        <button class="btn btn-danger" (click)="Desaprobar(data[0].ACT_ID)">Denegar</button>
      </div>
    </nb-card-footer>

  </nb-card>
</ng-template>