@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.actividad {

  background: red;


}

.Pendiente {

  background: yellow;
}

.Iniciada {

  background: blue;

}


.Finalizada {

  background: green;

}

.small-date-input {

  width: 150px;
  float: right;
  /* Ajusta el ancho según lo necesites */
}

.table td {
  font-size: 12px;
  /* Tamaño de fuente más pequeño */
}