<div style="min-width:81vw ;">
  <div class="card p-5">
    <div class="card-header mt">
      <h3 class="text-center">Registro De Actividades</h3>
    </div>

    <div class="card-body">
      <form [formGroup]="form">
        <div style="display: flex; justify-content: flex-end; margin-bottom: 50px;">
          <input type="date" nbInput class="nb-input small-date-input" fieldSize="medium" placeholder="Fecha de agenda"
            formControlName="AGE_FECHA">
        </div>
      </form>


      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>
              Región
            </th>
            <th>
              Comuna
            </th>
            <th>
              Nombre
            </th>
            <th>
              Apellido
            </th>
            <th>
              7:00
            </th>
            <th>
              8:00
            </th>
            <th>
              9:00
            </th>
            <th>
              10:00
            </th>
            <th>
              11:00
            </th>
            <th>
              12:00
            </th>
            <th>
              13:00
            </th>
            <th>
              14:00
            </th>
            <th>
              15:00
            </th>
            <th>
              16:00
            </th>
            <th>
              17:00
            </th>
            <th>
              18:00
            </th>
            <th>
              19:00
            </th>
            <th>
              20:00
            </th>
            <th>
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acti of actividad">
            <td>{{ acti.REG_NOMBRE }}</td>
            <td>{{ acti.COM_NOMBRE }}</td>
            <td>{{ acti.USR_NOMBRES }}</td>
            <td>{{ acti.USR_AP_PATERNO }}</td>

            <td [ngClass]="getEstado(acti,7)">
              <div (click)="editarActividad(acti, dialog, 7)" style="cursor: pointer;">{{acti.HORA_7}}</div>
            </td>
            <td [ngClass]="getEstado(acti,8)">
              <div (click)="editarActividad(acti,dialog, 8)" style="cursor: pointer;">{{acti.HORA_8}}</div>
            </td>
            <td [ngClass]="getEstado(acti,9)">
              <div (click)="editarActividad(acti,dialog, 9)" style="cursor: pointer;">{{acti.HORA_9}}</div>
            </td>
            <td [ngClass]="getEstado(acti,10)">
              <div (click)="editarActividad(acti,dialog, 10)" style="cursor: pointer;">{{acti.HORA_10}}</div>
            </td>
            <td [ngClass]="getEstado(acti,11)">
              <div (click)="editarActividad(acti,dialog, 11)" style="cursor: pointer;">{{acti.HORA_11}}</div>
            </td>
            <td [ngClass]="getEstado(acti,12)">
              <div (click)="editarActividad(acti,dialog, 12)" style="cursor: pointer;">{{acti.HORA_12}}</div>
            </td>
            <td [ngClass]="getEstado(acti,13)">
              <div (click)="editarActividad(acti,dialog,13)" style="cursor: pointer;">{{acti.HORA_13}}</div>
            </td>
            <td [ngClass]="getEstado(acti,14)">
              <div (click)="editarActividad(acti,dialog,14)" style="cursor: pointer;">{{acti.HORA_14}}</div>
            </td>
            <td [ngClass]="getEstado(acti,15)">
              <div (click)="editarActividad(acti,dialog,15)" style="cursor: pointer;">{{acti.HORA_15}}</div>
            </td>
            <td [ngClass]="getEstado(acti,16)">
              <div (click)="editarActividad(acti,dialog,16)" style="cursor: pointer;">{{acti.HORA_16}}</div>
            </td>
            <td [ngClass]="getEstado(acti,17)">
              <div (click)="editarActividad(acti,dialog,17)" style="cursor: pointer;">{{acti.HORA_17}}</div>
            </td>
            <td [ngClass]="getEstado(acti,18)">
              <div (click)="editarActividad(acti,dialog,18)" style="cursor: pointer;">{{acti.HORA_18}}</div>
            </td>
            <td [ngClass]="getEstado(acti,19)">
              <div (click)="editarActividad(acti,dialog,19)" style="cursor: pointer;">{{acti.HORA_19}}</div>
            </td>
            <td [ngClass]="getEstado(acti,20)">
              <div (click)="editarActividad(acti,dialog,20)" style="cursor: pointer;">{{acti.HORA_20}}</div>
            </td>
            <td>
              <a routerLink="/pages/forms/inputs" [queryParams]="{id:acti.USR_ID , AGE_FECHA:acti.AGE_FECHA}">
                <i class="bi bi-pencil" style="margin-right: 30px; margin-left: 5px;"></i>
              </a>
            </td>

          </tr>
        </tbody>

      </table>

    </div>
      
  </div>
</div>



<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Detalle</nb-card-header>
    <nb-card-body>

      <p><b>Requerimiento: </b> {{data[0].ACT_NOMBRE}}</p>
      <p><b>Cliente: </b>{{data[0].CLI_NOMBRE}}</p>
      <p><b>Solicitante: </b> {{data[0].ACT_NOMBRE_SOLICITANTE}}</p>
      <p><b>Solicitante:</b> {{data[0].ACT_DIRECCION}}</p>
      <p><b>Monto Depósito:</b> {{data[0].DEP_MONTO}}</p>

    </nb-card-body>

    <nb-card-footer class="d-flex justify-content-between">
      <button nbButton (click)="ref.close()">Cerrar</button>

      <div>
        <button nbButton (click)="ref.close()">Iniciar</button>
      </div>

      <div>
        <button nbButton (click)="ref.close()">Finalizar</button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>